@import "../abstracts/variables";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    padding-left: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 35px;
    animation: moveInLeft 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &--sub {
    padding-left: 1.75rem;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 5rem;
  }
}
