@import "../abstracts/variables";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;

}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    padding-left: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 35px;
    animation: moveInLeft 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    padding-left: 1.75rem;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 5rem;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  color:transparent;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 20px rgba($color-black, .2);
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  text-transform: uppercase;
  font-weight: 700;

}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}